* {
  margin:0px;
  padding:0px;
}

body{
	margin: 0 !important;
    padding: 0 !important;
    background: #fff !important;
    font-family: "Open Sans Condensed","Trebuchet MS","Lucida Sans Unicode",sans-serif;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #6d6e71 !important;
}

.nav-item a:hover{
  background-color: #ffcb31;
  color: #004a90;
  transition: background-color 0.15s linear 0.1s;
  
}

.card-header{
  background-color: #ffcb31;
   color: #004a90;
}

.btn-warning {
    color: white;
    background-color: #004a90;
    border-color: #004a90;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}
